*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir sans-serif;
}
.sect{
    background-color: #ccffff;
}
.sect hr{
    color: #d3d3dc;
    width: 115%;
}
.reseaux {
    margin-left: 3%;
    padding: 2%;
}
.menu{
    justify-content: left;
} 
.sect2{
    background-color: #ccffff;
}
header {
    border-top: 0.05em solid;
    border-bottom: 0.05em solid;
}
body{
    margin:0%;
    padding:0%;
}
.logo{

    width: 75%;
    height: 75%;
}
#logo1{
    position: relative ;
}
img{
    max-width: 100%;
    height: 100%;
}
nav {
    background-color: #9a99ff;
    display: grid;
    text-align: wrap;
    justify-content: left;
}
nav img{
    padding:5%;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    text-align: left;
    margin-left: 3vh;
    justify-content: center;
    margin-right: 8vh;
}
li {
    justify-content: center;
    border-color: #d2d2dd;
    padding: 1%;
    color:black;
}
.images{
    padding: 10%;
}
.ptgris {
    transform: rotate(90deg);
    justify-content: center;
    margin-left: 3vh;
}
.case{
    background-color: #9a99ff;
    color: white;
    display: flex;
    padding: 3%;
}
.red{
    color: red;
}
.corps{
    display: grid;
    padding: 5%;
}
.sect{
    border-bottom: 0.05em solid;
}
.sect2{
    border-top: 0.05em solid;
}
.flag{
    margin: 1%;
    padding: auto;
    border: 1px solid;
}
.flag img{
    object-fit:cover;
}
.paragraphe{
    padding: 3%;
}
.boussole{
    display: flex;
    padding: 2%;
}
.boussole img{
    object-fit: contain;
}
.carte{
    display: flex;
    padding: 2%;
}
.carte img{
    object-fit: contain;
}
.velo{
    display: flex;
    padding: 2%;
}
.velo img{
    object-fit: contain;
}
.WhyUs{
    padding: 5%;
}
.travel{
    padding: 5%;
}
button{
    color:white;
    background-color: #81ac6a;
    border-radius: 5px;
    width: 80px;
    height: 40px;
}
footer {
    padding: 6%;
    background-color: #9a99ff;
}

@media (min-width: 768px) 
{
    header {
        border-top: 0.1em solid;
        border-bottom: 0.1em solid;
    }
    .menu{
        display: flex;
    }
    .menu hr{
        visibility: hidden;
    }

    nav{
        padding: 4%;
        display: grid;
    }
    .corps1{
        display: flex;
    }
    article{
        padding: 1%;
    }
    .flags{
        display: flex;
    }
    .AboutUs{
        width:110%;
    }
    .US{
        display: flex;
        padding: 5%;
    }
    .WhyUs{
        margin-top: -4%;
    }
    footer{
        border-top: 0.05em solid;
    }
    
}
@media (min-width: 1024px) 
{
    .reseaux{
        margin-left: 15%;
    }
    .logo{
        margin-left: 12%;
    }
    .head{
        display: flex;
        padding: 1%;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    .menu{
        margin-top: 8%;
        margin-right: 18%;
    }
    .menu li{
        margin-right: 3%;
    }
    .images{
        margin-left: 5%;
        margin-right: 5%;
    }
    .corps{
        margin-left: 10%;
        margin-right: 10%;
    }
    .corps1{
        padding-bottom: 10%;
    }
    hr{
        margin: 1%;
    }
    .US{
        margin-left: 5%;
        margin-right: 5%;
    }
    .travel{
        margin-left: 5%;
        margin-right: 5%;
    }
    footer p{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -5%;
    }
    footer a{
        padding-right: 4%;
    }
    .copy{
        margin-top: 5%;
        margin-bottom: -5%;
    }
}